:root {
    --width: 900;
}

/* SEÇÃO - TEXTO *****************************/

.solvertype-text {
    padding: 20px;
}

.solvertype-text-buttons {
    float: right;
    cursor: pointer;
}

.solvertype-text-button {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 5px;
    background-color: white;
    border: none;

}

.solvertype-text-button:hover {
    background-color: #ddd;
}



/* SEÇÃO - INPUT *****************************/

.solvertype-input {
    padding: 20px;
}


.solvertype-input-body {
    padding: 20px;
    border: 1px solid #ddd;
}

/* botões */

.solvertype-input-paragraph {
    cursor: pointer;
    height: 30px;
    margin: 5px;
    background-color: white;
    border: none;

}

.solvertype-input-buttons {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #ddd;
    padding: 5px;
}

.solvertype-input-buttons-right {
    display: flex;
}

.solvertype-input-buttons-left {
    display: flex;
}

.solvertype-input-button {
    cursor: pointer;
    height: 30px;
    min-width: 30px;
    margin: 5px;
    background-color: white;
    border: none;
}

.solvertype-input-button:hover {
    background-color: #ddd;
}

.solvertype-input-button-separator {
    margin-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #ddd;
}


/* cores */

.solvertype-input-colors {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid #C0C0C0;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.solvertype-input-color {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
}

.solvertype-input-color:hover {
    border: 1px solid black;
}



/* símbolos */

.solvertype-input-symbols {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid #C0C0C0;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.solvertype-input-symbol {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
}

.solvertype-input-symbol:hover {
    background-color: #ddd;
}


/* LaTeX */

.solvertype-input-latexs {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid #C0C0C0;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transform: translate(-40%, 0);
}

.solvertype-input-latexs-buttons {
    margin-top: 10px;
}

.solvertype-input-latexs-button {
    cursor: pointer;
    height: 30px;
    min-width: 30px;
    margin: 5px;
    background-color: white;
    border: none;
}

.solvertype-input-latexs-button:hover {
    background-color: #ddd;
}